# Tama Engine
tama_base_url = "http://localhost:4000"
tama_api_key  = "your_api_key_here"

# Models
mistral_api_key = "your_mistral_api_key_here"
xai_api_key     = "your_xai_api_key_here"
azure_api_key   = "your_azure_api_key_here"

# TMDB
tmdb_api_key = "tmdb_api_key_here"

# Elasticsearch
elasticsearch_endpoint           = "http://localhost:9200"
elasticsearch_management_api_key = "your_elasticsearch_management_api_key_here"
elasticsearch_movie_db_api_key   = "your_elasticsearch_movie_db_api_key_here"

# Memovee UI
memovee_ui_endpoint      = "http://localhost:4001"
memovee_ui_openapi_url   = "http://localhost:4001/openapi/tama"
memovee_ui_client_id     = "client_id"
memovee_ui_client_secret = "client_secret"
memovee_listener_secret  = "webhook_secret"
